.idea
.gradle
account-service/build
account-service/.gradle

bill-service/.gradle
bill-service/build

config-service/.gradle
config-service/build

deposit-service/.gradle
deposit-service/build

notificatiob-service/.gradle
notificatiob-service/build

gateway-service/.gradle
gateway-service/build

registry-service/.gradle
registry-service/build